#configuracion Practica6
#salida del oscilador a 50MHz
#
NET clk LOC=P8;
NET clk TNM_NET = clk;
TIMESPEC TSclk = PERIOD clk 20 ns HIGH 50%;
#

	#switches placa superior

#NET a<3> LOC=K4;
#NET a<2> LOC=K3;
#NET a<1> LOC=K2;
#NET a<0> LOC=J4;

	#switches placa extendida

#NET DIPSW<1> LOC=P12;
#NET DIPSW<2> LOC=J1;
#NET DIPSW<3> LOC=H1;
#NET DIPSW<4> LOC=H3;
#NET DIPSW<5> LOC=G2;
#NET DIPSW<6> LOC=K15;
#NET DIPSW<7> LOC=K16;
#NET DIPSW<8> LOC=F15;
net rst LOC=E11;

#
	#push buttons placa superior
#NET rst LOC=E11; 
#NET SW3 LOC=A13; 

	# Push button placa extendida
#NET pushb1 LOC=H4;
#NET pushb2 LOC=L5;
#NET pushb3 LOC=N2;
#NET pushb4 LOC=M3;


#barra de leds placa extendida

#NET mvp LOC=L5;
#NET debug<3> LOC=N2;
#NET debug<2> LOC=M3;
#NET debug<1> LOC=N1;
#NET debug<0> LOC=T13;
#NET leds<6> LOC=L15;
#NET leds<7> LOC=J13;
#NET leds<8> LOC=H15;
#NET leds<9> LOC=J16;
#NET debug2 LOC=J14;

 

#Display 7-segmentos 
#
#		   S0
#		   ---
#	    S5	|	|s1
#		    S6
#		   ---
#	    S4	|	|S2
#
#		   ---
#		   S3


#Display 7-segmentos de la placa superior

#net b<6> loc=R10;
#net b<5> loc=P10;
#net b<4> loc=M11;
#NET b<3> loc=M6;
#NET b<2> loc=N6;
#NET b<1> loc=T7;
#NET b<0> loc=R7;

#Display 7-segmentos de la parte izquierda de la placa extendida:

NET disp1<6> LOC=H14;
NET disp1<5> LOC=M4;
NET disp1<4> LOC=P1;
NET disp1<3> LOC=N3;
NET disp1<2> LOC=M15;
NET disp1<1> LOC=H13;
NET disp1<0> LOC=G16;


NET RGB<0> LOC=C9;
NET RGB<1> LOC=E7;
NET RGB<2> LOC=D5;

NET RGB<3> LOC=A8;
NET RGB<4> LOC=A5;
NET RGB<5> LOC=C3;

NET RGB<6> LOC=C8;
NET RGB<7> LOC=D6;
NET RGB<8> LOC=B1;

NET hSync LOC=B7;
NET vSync LOC=D8;


#Display 7-segmentos de la parte derecha de la placa extendida

NET disp2<6> loc=E2;
NET disp2<5> loc=E1;
NET disp2<4> loc=F3;
NET disp2<3> loc=F2;
NET disp2<2> loc=G4;
NET disp2<1> loc=G3;
NET disp2<0> loc=G1;
#
##altavoz
net sound loc = J14;
#
##teclado clk
net ps2_clk loc = B16;
##teclado data
net ps2_data loc = E13;